<li id="<%= articles_item.id %>">
 <% if articles_item.koukai == 0 %>
  <span class="content">[下書き]</span>
 <% end %>
 <span class="content"><%= articles_item.title %></span>
 <span class="content"><%= articles_item.abstract %></span>
 <%= link_to "続きを読む", articles_item %></span>
    <% case %>
    <% when articles_item.category_id == 1 %>
     <%= link_to "#一回生向け", '/categories/1' %>
    <% when articles_item.category_id == 2 %>
     <%= link_to "#Sojin Voice", '/categories/2' %>
    <% else articles_item.category_id == 3 %>
     <%= link_to "#その他", '/categories/3' %>
    <% end %>
  <span class="timestamp">
  Posted <%= time_ago_in_words(articles_item.created_at) %> ago.
  </span>
</li>

