<div class="note">
<div class="ttl"><h1>公開プロフィール</h1></div>
 <p>名前： <%= @user.name %></p>
 <% if @user.profile.nil? %> 
  <p>身分(回生・教員等):</p>
  <p>学系:</p>
  <p>自己紹介：</p>
  <p>
  <% if current_user?(@user) %>
   <%= link_to "create", new_profile_path %>
  <% end %></p>
 <% else %>
  <p>身分(回生・教員等)： <%= @profile.shozoku if @profile.shozoku.present? %></p>
  <p>学系：<%= @profile.gakukei if @profile.gakukei.present? %></p>
  <p>自己紹介：<%= @profile.self_intro if  @profile.self_intro.present? %></p>
  <p>
  <% if current_user?(@user) %>
    <%= link_to "edit", edit_profile_path(id: @user.profile) %>
  <% end %></p>
 <% end %>
</div>
