<div class="hero-unit">
 <%= @post.title %>
 <%= @post.abstract %>
 <%= @post.content %>
 <% if @post.category_id == 0 %>
  <%= p "一回生向け" %>
 <% end %>
 <% if @post.category_id == 1 %>
  <%= p "Sojin Voice" %>
 <% end %>
 <% if @post.category_id == 2 %>
  <%= p "その他" %>
 <% end %>
</div>
